<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DishDbContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\filik\source\repos\WinFormsApp3\WinFormsApp3\Database1.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>